.hero {
  min-height: 100vh;
  background-image: url('/src/assets/images/imgHero.jpeg');
  background-size: cover;
  background-position: top center; /* ← cambia a top center */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem 4rem;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(26,3,5,0.4) 0%, rgba(26,3,5,0.75) 100%);
  z-index: 1; /* ← agregar esto */
}

.topLine {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 3px;
  background: linear-gradient(90deg, transparent, #d4a017, #f0c040, #d4a017, transparent);
}


@media (max-width: 768px) {
  .hero { padding: 6rem 1.5rem 4rem; }
}